* {
	margin: 0;
	padding: 0;
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 985px;
	overflow-x: hidden !important;
}

body, button, input, select, textarea {
	font-family: Inter, Helvetica, Arial, sans-serif;
	background-color: #f1f3f6;
}

nav {
	height: 56px;
	background-color: #2874f0;
}

.nav-left-pad {
	width: 182px;
}

.flipkart-logo-section a {
	height: 18px;
}

.flipkart-logo {
	width: 75px;
}

.flipkart-plus-logo {
	width: 75px;
}

.flipkart-plus-icon {
	width: 10px;
}

.searchbar {
	background-color: rgb(255, 255, 255);
	border-radius: 1px;
	margin-left: 12px;
	font-size: 14px;
	height: 36px;
	width: 304px;
}

.searchbar input {
	outline: none;
	border: none;
	padding-left: 16px;
	padding-right: 16px;
	width: 262px;
	background-color: transparent;
}

.search-button {
	border: none;
	width: 42px;
	background-color: transparent;
}

.nav-login-btn {
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
	width: 123px;
	height: 31px;
	background-color: rgb(255, 255, 255);
	border-radius: 1px;
}

.nav-login-btn a {
	text-decoration: none;
	font-weight: 500;
}

.nav-becomeseller-btn {
	white-space: nowrap;
}

.nav-more-btn svg {
	transform: rotate(-90deg);
}

.nav-cart-btn i {
	font-size: 14px;
}

.nav-white-btn {
	color: #fff;
	margin-left: 20px;
	margin-right: 20px;
}

.nav-white-btn a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
}

main {
	padding-top: 56px;
}

.category-selector {
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	max-width: ;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	white-space:  nowrap;
}

.categories {
	gap: 18px;
	padding-left: 8px;
	padding-right: 18px;
}

.categories div {
	gap: 1px;
}

.categories div i {
	font-size: 10px;
	color: #bfbfbf;
}

.category:hover {
	color: #2874f0;
	cursor: pointer;
}

.category:hover .category i {
	transform: rotate(-90deg);
	color: red;
}

.content {
	padding: 8px;
}

.content-top {
	display: flex;
	gap: 8px;
}

.top-left {
	width: 270px;
}

.filters {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
	width: 270px;
}

.filters > div {
	padding: 13px 15px;
	background-color: #fff;
	border-bottom: 0.1rem solid #e9e9e9;
}

.filters-heading {
	font-size: 18px;
	font-weight: 500;
}

.filters-category {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.filters-category span i {
	font-size: 10px;
}

.filters-category span:nth-of-type(1) {
	font-size: 11px;
	font-weight: 500;
}

.filters-category span:nth-of-type(2) {
	color: #878787;
	font-size: 13px;
}

.filters-category span:nth-of-type(3) {
	font-size: 13px;
	font-weight: 600;
	padding-left: 11px;
}

.filter {
	cursor: pointer;
}

.filter-heading {
	display: flex;
}

.filter-heading span {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}

.filter-heading i {
	margin-left: auto;
	font-size: 10px;
}

.help {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
	gap: 1px;
	font-size: 14px;
}

.help span:nth-of-type(2) {
	color: #2874f0;
	font-size: 18px;
}

.help span i {
	font-size: 11px;
}

.help img {
	margin-top: 10px;
}

.top-right {
	width: 100%;
	background-color: #fff;
	padding: 15px 15px 0 15px;
}

.products-header {
	border-bottom: 0.1px solid #ededed;
}

.path {
	display: flex;
	font-size: 11px;
	color: grey;
	align-items: center;
	gap: 8px;
	margin-bottom: 8px;
}

.path span:hover {
	cursor: pointer;
	color: #2874f0;
}

.path i {
	font-size: 8px;
}

.results-index {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
}

.sort-by {
	display: flex;
	font-size: 13px;
	gap: 20px;
}

.sort-by span {
	font-weight: 600;
}

.sort-by * {
	padding-bottom: 5px;
}

.sort-by div {
	cursor: pointer;
}

.sort-by div.selected {
	color: #2874f0;
	border-bottom: 2px solid #2874f0;
	font-weight: bold;
}

.product {
	padding: 24px 0 30px 10px;
	display: flex;
	cursor: pointer;
	border-bottom: 0.1rem solid #e1e1e1;
}

.product:hover .product-name {
	cursor: pointer;
	color: #2874f0;
}

.product-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 200px;
	font-size: 13px;
}

.product-left img {
	width: 200px;
	margin: 34px 0;
}

.product-middle {
	padding-left: 25px;
	padding-right: 25px;
	width: 60%;
}

.sponsored-badge {
	font-size: 12px;
	color: #bdbdbd;
}

.product-name {
	font-size: 17px;
	font-weight: 600;
	line-height: 1;
	margin: 5px 0;
}

.product-rating {
	display: flex;
	gap: 8px;
	font-size: 13px;
	font-weight: 600;
	color: #878787;
	margin-bottom: 18px;
	line-height: 1.6;
}

.rating {
	color: #fff;
	background-color: #388e3c;
	font-size: 11px;
	padding: 1px 5px;
	border-radius: 3px;
}

.rating img {
	width: 11px;
}

.product-details ul {
	padding-left: 20px;
	font-size: 14px;
}

.product-right {
	width: 300px;
	padding-right: 10px;
}

.buying-details {
	display: flex;
}

.price-details {
	display: flex;
	flex-direction: column;
}

.sale-price {
	font-size: 24px;
	font-weight: 600;
}

.orig-price {
	font-size: 13px;
	font-weight: 400;
	color: #878787;
	text-decoration: line-through;
}

.discount-percent {
	font-size: 13px;
	font-weight: 500;
	color: #388e3c;
}

.delivery-cost {
	font-size: 12px;
	font-weight: 400;
}

.flipkart-assured-logo img {
	height: 21px;
}

.save-extra-text {
	font-size: 12px;
	font-weight: 700;
	color: rgb(38, 165, 65);
}

.offer-text {
	font-size: 13px;
	font-weight: 400;
}

.page-number-section {
	display: flex;
	padding: 16px 10px;
	font-size: 13px;
	align-items: center;
	justify-content: space-between;
}

.bottom-nav {
	display: flex;
	font-weight: 600;
}

.page-number {
	padding: 7px 12px;
	border-radius: 15px;
	text-decoration: none;
	color: #212121;
}

.page-number.current-page {
	color: #fff;
	background-color: #2874f0;
}

.next-btn {
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 20px;
}

.content-bottom {
	background-color: #fff;
	margin-top: 15px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}

.content-bottom-heading {
	padding: 15px 20px;
	font-size: 19px;
	font-weight: 600;
}

.popular-product {
	display: flex;
	font-size: 13px;
	justify-content: space-between;
	gap: 15px;
	padding: 25px 0;
	border-top: 0.1rem solid #e7e7e7;
}

.popular-product-left {
	display: flex;
	width: 546px;
}

.popular-prod-image {
	margin: 0 20px;
}

.popular-prod-details {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.popular-prod-details div {
	display: flex;
}

.popular-prod-name {
	font-size: 17px;
	font-weight: 600;
}

.popular-prod-image img {
	width: 150px;
	margin: 14px 0;
}

.popular-product-rating {
	display: flex;
	gap: 8px;
	font-weight: 600;
	line-height: 1.6;
}

.popular-rating {
	display: flex;
	align-items: center;
	color: #fff;
	background-color: #388e3c;
	font-size: 11px;
	padding: 1px 5px;
	border-radius: 3px;
	gap: 3px;
}

.popular-rating img {
	width: 11px;
	height: 11px;
}
.review-text {
	margin: 12px 0;
}

.popular-prod-price {
	gap: 10px;
}

.popular-prod-sale-price {
	font-weight: 600;
}

.popular-prod-discount-percent {
	color: #878787;
}

.popular-product-middle {
	width: 400px;
}

.popular-product-middle div:last-child {
	font-size: 11px;
	gap: 10px;
}

.user-name {
	font-weight: 600;
}

.popular-product-middle i {
	font-size: 14px;
}

.popular-product-right {
	width: 400px;
}

footer {
	margin-top: 25px;
	color: #fff;
	background-color: #172337;
	border-top: 1px solid #172337;
}

.footer-top {
	margin-left: 65px;
	padding-top: 40px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-evenly;
}

.footer-top div:nth-of-type(5) {
	padding-left: 25px;
	border-left: 0.1rem solid #454d5e;;
}

.footer-top-item {
	font-size: 12px;
	display: flex;
	flex-direction: column;
}

.footer-top-item a {
	text-decoration: none;
	margin-bottom: 5px;
	color: #fff;
}

.footer-top-item a:hover {
	text-decoration: underline;
}

.footer-top-item p {
	margin-bottom: 0;
}

.footer-top-item .footer-item-title:nth-of-type(2) {
	margin-top: 13px;
}

.footer-item-title {
	color: #878787;
	margin-bottom: 8px;
}

.footer-social-media-icons {
	display: flex;
	gap: 16px;
}

.tel-links a {
	color: rgb(40, 116, 240);
}

.tel-links a:hover {
	text-decoration: none;
}

.footer-bottom {
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: 0.1rem solid #454d5e;
	height: 73px;
	white-space: nowrap;
}

.footer-bottom-item {
	display: flex;
	align-items: center;
	gap: 8px;
}

.footer-bottom-item a {
	color: #fff;
	text-decoration: none;
}

.faded {
	color: #878787;
}

@media (min-width: 1140px) {
	.category-selector, .categories {
		width: 100%;
	}

	.categories {
		justify-content: space-between;
	}
}