* {
	margin: 0;
	padding: 0;
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 985px;
	overflow-x: hidden !important;
}

body, button, input, select, textarea {
	font-family: Inter, Helvetica, Arial, sans-serif;
	background-color: #f1f3f6;
}

nav {
	height: 56px;
	background-color: #2874f0;
}

.nav-left-pad {
	width: 182px;
}

.flipkart-logo-section a {
	height: 18px;
}

.flipkart-logo {
	width: 75px;
}

.flipkart-plus-logo {
	width: 75px;
}

.flipkart-plus-icon {
	width: 10px;
}

.nav-heading-section {
	width: 330px;
	padding: 10px;
}

.nav-heading-text {
	color: white;
	font-weight: 500;
	padding-left: 8px;
	border-left: 1px solid white;
}

.nav-login-btn {
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
	width: 123px;
	height: 31px;
	background-color: rgb(255, 255, 255);
	border-radius: 1px;
}

.nav-login-btn a {
	text-decoration: none;
	font-weight: 500;
}

.nav-becomeseller-btn {
	white-space: nowrap;
}

.nav-more-btn img {
	transform: rotate(-90deg);
}

.nav-cart-btn i {
	font-size: 14px;
}

.nav-white-btn {
	color: #fff;
	margin-left: 20px;
	margin-right: 20px;
}

.nav-white-btn a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
}

main {
	padding-top: 56px;
}

.category-selector {
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	white-space:  nowrap;
}

.categories {
	gap: 18px;
	padding-left: 8px;
	padding-right: 18px;
}

.categories div {
	gap: 1px;
}

.categories div i {
	font-size: 10px;
	color: #bfbfbf;
}

.category:hover {
	color: #2874f0;
	cursor: pointer;
}

.category:hover .category i {
	transform: rotate(-90deg);
	color: red;
}

.content {
	padding: 14px 83px 40px 83px;
}

.content-top h2 {
	font-size: 17px;
	font-weight: 700;
}

.content-top p {
	font-size: 11px;
	color: #878787;
	line-height: 1.6;
}

.content-middle {
	display: flex;
}

.content-middle-left {
	width: 25%;
	height: 560px;
	overflow-y: scroll;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}

.content-middle-left-section-heading {
	font-size: 11px;
	font-weight: bold;
	padding: 22px 16px 0 32px;
	margin-bottom: 14px;
}

.content-middle-left div:not(.content-middle-left-section-heading):not(.content-middle-sep) {
	font-size: 13px;
	padding: 13px 48px;
}

.content-middle-left div:not(.content-middle-left-section-heading):not(.content-middle-sep):hover {
	color: #2874f0;
	cursor: pointer;
}

.content-middle-sep {
	padding: 0;
	margin-top: 10px;
}

.content-middle-right {
	width: 75%;
}

.content-middle-right > div {
	padding: 16px 19px;
	margin-left: 15px;
	margin-bottom: 8px;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}

.helpcentre-section {
	color: grey;
	font-size: 11px;
	display: flex;
	align-items: center;
}

.helpcentre-section span:hover {
	color: #2874f0;
	cursor: pointer;
}

.items-issue-section span {
	font-size: 17px;
}

.issues-section-heading {
	font-size: 17px
	padding: 16px 0 8px 0;
	margin: 4px 0;
}

.issue {
	padding: 16px 0;
	display: flex;
	cursor: pointer;
}

.issue-heading {
	font-size: 13px;
}

.issue-description {
	font-size: 11px;
	color: #878787;
	margin-top: 5px;
}

.issue-right {
	margin-left: auto;
	font-size: 12px;
}

.reachout {
	font-size: 11px;
	font-weight: 500;
	color: grey;
	margin-left: 33px;
}

.reachout a {
	color: #2874f0;
	text-decoration: none;
}

.content-bottom {
	padding: 20px 25px 0 25px;
	background-color: #fff;
	border-top: 0.1rem solid #e7e7e7;
}

.content-bottom-item span {
	font-size: 11px;
	font-weight: 500;
	color: #838383;
}

.content-bottom-item p {
	font-size: 11px;
	color: #878787;
}

.content-bottom-item a {
	text-decoration: none;
	color: #2874f0;
}

footer {
	margin-top: 25px;
	color: #fff;
	background-color: #172337;
	border-top: 1px solid #172337;
}

.footer-top {
	margin-left: 65px;
	padding-top: 40px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-evenly;
}

.footer-top div:nth-of-type(5) {
	padding-left: 25px;
	border-left: 0.1rem solid #454d5e;;
}

.footer-top-item {
	font-size: 12px;
	display: flex;
	flex-direction: column;
}

.footer-top-item a {
	text-decoration: none;
	margin-bottom: 5px;
	color: #fff;
}

.footer-top-item a:hover {
	text-decoration: underline;
}

.footer-top-item p {
	margin-bottom: 0;
}

.footer-top-item .footer-item-title:nth-of-type(2) {
	margin-top: 13px;
}

.footer-item-title {
	color: #878787;
	margin-bottom: 8px;
}

.footer-social-media-icons {
	display: flex;
	gap: 16px;
}

.tel-links a {
	color: rgb(40, 116, 240);
}

.tel-links a:hover {
	text-decoration: none;
}

.footer-bottom {
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: 0.1rem solid #454d5e;
	height: 73px;
	white-space: nowrap;
}

.footer-bottom-item {
	display: flex;
	align-items: center;
	gap: 8px;
}

.footer-bottom-item a {
	color: #fff;
	text-decoration: none;
}


@media (min-width: 1140px) {
	.category-selector, .categories {
		width: 100%;
	}

	.categories {
		justify-content: space-between;
	}
}