* {
	margin: 0;
	padding: 0;
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 985px;
	overflow-x: hidden !important;
}

body, button, input, select, textarea {
	font-family: Inter, Helvetica, Arial, sans-serif;
	background-color: #f1f3f6;
}

nav {
	height: 56px;
	background-color: #2874f0;
}

.nav-left-pad {
	width: 182px;
}

.flipkart-logo-section a {
	height: 18px;
}

.flipkart-logo {
	width: 75px;
}

.flipkart-plus-logo {
	width: 75px;
}

.flipkart-plus-icon {
	width: 10px;
}

.searchbar {
	background-color: rgb(255, 255, 255);
	border-radius: 1px;
	margin-left: 12px;
	font-size: 14px;
	height: 36px;
	width: 304px;
}

.searchbar input {
	outline: none;
	border: none;
	padding-left: 16px;
	padding-right: 16px;
	width: 262px;
	background-color: transparent;
}

.search-button {
	border: none;
	width: 42px;
	background-color: transparent;
}

.nav-login-btn {
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
	width: 123px;
	height: 31px;
	background-color: rgb(255, 255, 255);
	border-radius: 1px;
}

.nav-login-btn a {
	text-decoration: none;
	font-weight: 500;
}

.nav-becomeseller-btn {
	white-space: nowrap;
}

.nav-more-btn svg {
	transform: rotate(-90deg);
}

.nav-cart-btn i {
	font-size: 14px;
}

.nav-white-btn {
	color: #fff;
	margin-left: 20px;
	margin-right: 20px;
}

.nav-white-btn a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
}

main {
	padding-top: 56px;
}

.category-selector {
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	max-width: ;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	white-space:  nowrap;
}

.categories {
	gap: 18px;
	padding-left: 8px;
	padding-right: 18px;
}

.categories div {
	gap: 1px;
}

.categories div i {
	font-size: 10px;
	color: #bfbfbf;
}

.category:hover {
	color: #2874f0;
	cursor: pointer;
}

.category:hover .category i {
	transform: rotate(-90deg);
	color: red;
}

.login-content {
	height: 528px;
	display: flex;
	width: 840px;
	margin-top: 16px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.login-left {
	padding: 40px 33px;
	height: 100%;
	width: 336px;
	background-color: #2874f0;
	background-image: url(../../../assets/images/login-signup-bg.png);
	background-position: 50% 80%;
	background-repeat: no-repeat;
}

.login-header {
	font-size: 28px;
	color: #fff;
}

.login-description {
	font-size: 18px;
	color: #dbdbdb;
	font-weight: 400;
	margin-top: 16px;
}

.login-right {
	padding: 56px 35px;
	width: 504px;
}

.login-input {
	outline: none;
	border: none;
	border-bottom: 1px solid #d7d7d7;
	padding: 8px 10px 10px 0;
	margin-bottom: 34px;
	transition: 0.3s;
}

.login-input:focus, .login-input:not(:placeholder-shown) {
	border-bottom: 1px solid blue;
}

.form-msg {
	font-size: 12px;
	color: #878787;
}

.form-msg a {
	text-decoration: none;
	color: #2874f0;
}

.login-btn {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	background-color: #fb641b;
	border: 1px solid #fb641b;
	border-radius: 1px;
	height: 48px;
	margin-top: 16px;
}

.signup-link {
	font-size: 14px;
	margin-top: 260px;
	display: flex;
	justify-content: center;
}

.signup-link a {
	text-decoration: none;
	font-weight: 400;
}

footer {
	margin-top: 25px;
	color: #fff;
	background-color: #172337;
	border-top: 1px solid #172337;
}

.footer-top {
	margin-left: 65px;
	padding-top: 40px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-evenly;
}

.footer-top div:nth-of-type(5) {
	padding-left: 25px;
	border-left: 0.1rem solid #454d5e;;
}

.footer-top-item {
	font-size: 12px;
	display: flex;
	flex-direction: column;
}

.footer-top-item a {
	text-decoration: none;
	margin-bottom: 5px;
	color: #fff;
}

.footer-top-item a:hover {
	text-decoration: underline;
}

.footer-top-item p {
	margin-bottom: 0;
}

.footer-top-item .footer-item-title:nth-of-type(2) {
	margin-top: 13px;
}

.footer-item-title {
	color: #878787;
	margin-bottom: 8px;
}

.footer-social-media-icons {
	display: flex;
	gap: 16px;
}

.tel-links a {
	color: rgb(40, 116, 240);
}

.tel-links a:hover {
	text-decoration: none;
}

.footer-bottom {
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: 0.1rem solid #454d5e;
	height: 73px;
	white-space: nowrap;
}

.footer-bottom-item {
	display: flex;
	align-items: center;
	gap: 8px;
}

.footer-bottom-item a {
	color: #fff;
	text-decoration: none;
}
