* {
	margin: 0;
	padding: 0;
	--border-color: #ededed;
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 985px;
	overflow-x: hidden !important;
}

body, button, input, select, textarea {
	font-family: Inter, Helvetica, Arial, sans-serif;
	background-color: #f1f3f6;
}

a {
	text-decoration: none;
}

nav {
	height: 56px;
	background-color: #2874f0;
}

.nav-desktop {
	display: flex;
}

.nav-mobile, .content-mobile {
	display: none;
}

.nav-left-pad {
	width: 182px;
}

.flipkart-logo-section a {
	height: 18px;
}

.flipkart-logo {
	width: 75px;
}

.flipkart-plus-logo {
	width: 75px;
}

.flipkart-plus-icon {
	width: 10px;
}

.searchbar {
	background-color: rgb(255, 255, 255);
	border-radius: 1px;
	margin-left: 12px;
	font-size: 14px;
	height: 36px;
	width: 304px;
}

.searchbar input {
	outline: none;
	border: none;
	padding-left: 16px;
	padding-right: 16px;
	width: 262px;
	background-color: transparent;
}

.search-button {
	border: none;
	width: 42px;
	background-color: transparent;
}

.nav-login-btn {
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
	width: 123px;
	height: 31px;
	background-color: rgb(255, 255, 255);
	border-radius: 1px;
}

.nav-login-btn a {
	font-weight: 500;
}

.nav-becomeseller-btn {
	white-space: nowrap;
}

.nav-more-btn svg {
	transform: rotate(-90deg);
}

.nav-cart-btn i {
	font-size: 14px;
}

.nav-white-btn {
	color: #fff;
	margin-left: 20px;
	margin-right: 20px;
}

.nav-white-btn a {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
}

main {
	padding-top: 56px;
}

.category-selector {
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	white-space:  nowrap;
	background-color: #fff;
	margin-bottom: 1px;
}

.categories {
	gap: 18px;
	padding-left: 8px;
	padding-right: 18px;
}

.categories div {
	gap: 1px;
}

.categories div i {
	font-size: 10px;
	color: #bfbfbf;
}

.category:hover {
	color: #2874f0;
	cursor: pointer;
}

.category:hover .category i {
	transform: rotate(-90deg);
	color: red;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}

.product-section {
	width: 100%;
	display: flex;
	padding: 16px;
	position: sticky;
	top: 0;
}

.product-gallery {
	display: flex;
	width: 70%;
}

.sidebar {
	width: 14%;
	border: 0.1rem solid #e9e9e9;
}

.sidebar > div {
	padding: 5px;
	border-bottom: 0.1rem solid #e9e9e9;
}

.sidebar > div:hover {
	cursor: pointer;
	border: 0.15rem solid #2874f0;
}

.sidebar > div:first-child {
	padding: 15px 5px;
}

.sidebar div.active {
	border: 0.15rem solid #2874f0;
}

.sidebar img {
	width: 100%;
}

.product-view {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.product-image {
	width: 100%;
	padding: 100px 15px;
}

.product-image img {
	width: 100%;
}

.product-buttons {
	display: flex;
	gap: 7px;
}

.product-btn {
	width: 50%;
	padding: 18px 8px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	border: none;
	border-radius: 2px;
	white-space: nowrap;
}

.add-to-cart-btn {
	background-color: #ff9f00;
}

.buy-now-btn {
	background-color: #fb641b;
}

.product-details {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	/* To add scrolling to right section while keeping left section stationary */
	height: calc(100vh - 96px);
	overflow-y: scroll;
	overflow-x: hidden;
}

/* To hide scrollbar on right side */
.product-details::-webkit-scrollbar {
	display: none;
}

.path {
	font-size: 11px;
	color: grey;
	display: flex;
	align-items: center;
}

.path span:hover {
	cursor: pointer;
	color: rgb(13 110 253);
}

.path > i {
	font-size: 8px;
	margin: 0 5px;
}

.path div {
	font-size: 13px;
	margin-left: auto;
}

.path div:hover {
	color: blue;
}

.path div:hover i {
	color: blue;
}

.path div > i {
	color: #c5c5c5;
}

.product-name {
	margin: 8px 0 3px;
	font-size: 16px;
}

.product-hashtag {
	color: grey;
	font-size: 17px;
}

.rating-section {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 5px 0;
}

.star-count {
	display: flex;
	align-items: center;
	color: #fff;
	background-color: #388e3c;
	font-size: 12px;
	font-weight: 500;
	padding: 1px 3px;
	border-radius: 3px;
	gap: 2px;
}

.star-count:hover {
	cursor: pointer;
}

.star-count img {
	width: 10px;
}

.rating-count {
	font-size: 13px;
	font-weight: 500;
	color: grey;
}

.rating-count:hover {
	cursor: pointer;
}

.rating-section > img {
	width: 77px;
	cursor: pointer;
}

.special-price {
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
}

.product-price-section {
	display: flex;
	align-items: center;
	gap: 10px;
}

.product-price-section i {
	cursor: pointer;
}

.sale-price {
	font-size: 26px;
	font-weight: 500;
}

.orig-price {
	font-size: 14px;
	color: grey;
}

.discount-percent {
	font-size: 14px;
	font-weight: 500;
}

.offers {
	font-size: 14px;
}

.offers > span {
	font-size: 15px;
	font-weight: 500;
	padding: 10px 0;
}

.offers ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.offers li {
	background: url('../../../assets/images/productpage/offer-tag-icon.webp') no-repeat left top;
	background-size: 18px;
	/*height: 34px;*/
	padding-bottom: 10px;
	padding-left: 25px;
}

.offers a {
	font-weight: 500;
}

.exchange-choice {
	width: 50%;
	border: 0.1rem solid #dbdbdb;
	padding: 16px;
	font-size: 13px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.exchange-choice label {
	margin-left: 10px;
	cursor: pointer;
}

.exchange-choice label:first-of-type {
	padding-bottom: 16px;
}

.exchange-choice label span:last-of-type {
	font-weight: 600;
}

.exchange-choice hr {
	margin: 0 0 16px 0;
	color: grey;
}

.warranty-section {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 13px;
}

.warranty-section a {
	font-weight: 500;
}

.manufacturer-logo {
	padding: 0 10px;
	border: 1px solid #e3e3e3;
}

.manufacturer-logo img {
	width: 45px;
}

.product-row {
	font-size: 14px;
	margin: 20px 0;
	display: flex;
	gap: 20px;
}

.product-row .heading {
	color: grey;
}

.product-row-half {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.colors-choices {
	display: flex;
	gap: 5px;
}

.colors-choice {
	border: 2px solid #cfcfcf;
	padding: 10px 0;
}

.colors-choice:hover {
	cursor: pointer;
	border-color: #2874f0;
}

.colors-choice img {
	width: 60px;
}

.colors-choice.selected {
	border-color: #2874f0;
}

.mem-choices {
	display: flex;
	align-items: center;
	height: 40px;
	gap: 10px;
}

.mem-choice {
	padding: 10px;
	border: 2px solid #cfcfcf;
	cursor: pointer;
}

.mem-choice.selected {
	border-color: #2874f0;
}

.pincode-section {
	display: flex;
	flex-direction: column;
}

.pincode-input {
	padding-bottom: 5px;
	border-bottom: 2px solid blue;
}

.pincode-input input {
	border: none;
	outline: none;
	background-color: transparent;
}

.delivery-info {
	font-size: 13px;
	color: grey;
}

.delivery-date {
	color: black;
	font-weight: 500;
}

.supercoin-banner img {
	width: 100%;
}

.description {
	max-width: 800px;
}

.product-description {
	border: 1px solid var(--border-color);
	padding: 20px;
	border-radius: 4px;
}

.product-description .heading {
	font-size: 23px;
	font-weight: 600;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--border-color);
}

.product-description .heading + div {
	margin-top: 10px;
}

.product-description > div:last-of-type {
	border-top: 1px solid var(--border-color);
	padding-top: 10px;
}

.desc-item {
	font-size: 19px;
}

.desc-item p {
	font-size: 13px;
	max-width: 800px;
	margin-top: 10px;
}

.desc-left img {
	float: left;
	margin-right: 25px;
}

.desc-right img {
	float: right;
	margin-left: 55px;
}

.ratings-reviews {
	border: 1px solid var(--border-color);
	padding: 20px;
	border-radius: 4px;
	margin-top: 20px;
}

.ratings-heading {
	font-size: 23px;
	font-weight: 500;
	padding-bottom: 15px;
	display: flex;
}

.ratings-heading button {
	font-size: 14px;
	font-weight: 500;
	padding: 12px 18px;
	border: 0;
	border-radius: 2px;
	background-color: #fff;
	margin-left: auto;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}

.ratings-visual {
	display: flex;
	align-items: center;
}

.ratings-star {
	text-align: center;
}

.ratings-star div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.ratings-star div span {
	font-size: 32px;
}

.rating-star div i {
	font-size: 20px;
}

.ratings-star > span {
	font-size: 13px;
	color: grey;
}

.review-images {
	display: flex;
	gap: 5px;
}

.review-image {
	width: 90px;
	height: 90px;
	cursor: pointer;
}

.review-image-1 {
	background: url('../../../assets/images/productpage/reviews/review-image-1.webp');
}

.review-image-2 {
	background: url('../../../assets/images/productpage/reviews/review-image-2.webp');
}

.review-image-3 {
	background: url('../../../assets/images/productpage/reviews/review-image-3.webp');
}

.review-image-4 {
	background: url('../../../assets/images/productpage/reviews/review-image-4.webp');
}

.review-image-5 {
	background: url('../../../assets/images/productpage/reviews/review-image-5.webp');
}

.review-image-6 {
	background: url('../../../assets/images/productpage/reviews/review-image-6.webp');
}

.review-image-7 {
	background: url('../../../assets/images/productpage/reviews/review-image-7.webp');
}

.review-image-8 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	background: url('../../../assets/images/productpage/reviews/review-image-8.webp');
}

.review {
	margin: 10px 0;
}

.review-heading {
	display: flex;
	gap: 10px;
}

.review-body {
	font-size: 13px;
}

.read-more {
	font-size: 13px;
	color: blue;
}

.review-images-small {
	display: flex;
	gap: 5px;
	margin: 15px 0;
}

.review-image-small {
	width: 70px;
	height: 70px;
}

.review-image-small-1 {
	background: url('../../../assets/images/productpage/reviews/review-image-1.webp');
}

.review-image-small-2 {
	background: url('../../../assets/images/productpage/reviews/review-image-2.webp');
}

.review-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
	color: grey;
	margin: 10px 0;
}

.review-author {
	display: flex;
	align-items: center;
	gap: 5px;
}

.review-check {
	display: flex;
	gap: 20px;
}

.review-check i {
	cursor: pointer;
}

.review-all {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.review-all div {
	color: blue;
	font-weight: 500;
}

.review-all i {
	font-size: 12px;
}

.qna {
	border: 1px solid var(--border-color);
	margin-top: 20px;
}

.qna-heading {
	font-size: 23px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--border-color);
}

.qna-heading-text {
	padding: 15px;
}

.qna-search-icon {
	padding: 15px;
	border-left: 1px solid var(--border-color);
}

.qna-body {
	font-size: 12px;
}

.qna-body > div:first-of-type {
	font-weight: 500;
}

.qna-item {
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-bottom: 1px solid var(--border-color);
	gap: 10px;
}

.qna-username {
	color: grey;
}

.qna-body-bottom {
	display: flex;
	justify-content: space-between;
	color: grey;
	font-size: 12px;
}

.qna-check {
	display: flex;
	gap: 20px;
}

.qna-check i {
	cursor: pointer;
}

.qna-bottom {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 500;
	padding: 15px;
	color: grey;
}

.qna-bottom i {
	font-size: 12px;
}

.platform-msg {
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	gap: 10px;
}

.shield-icon img {
	width: 23px;
}

.user-interest {
	padding-bottom: 15px;
}

.user-interest-heading {
	font-size: 18px;
	padding: 32px;
	font-weight: 600;
}

.interests {
	width: 100%;
	height: 184px;
	display: flex;
	margin: 0 32px;
	padding: 8px;
}

.interest {
	width: 33%;
	display: flex;
}

.interest-image {
	width: 40%;
	display: flex;
}

.interest-image img {
	max-width: 100%;
	max-height: 100%;
}

.interest-details {
	padding: 15px;
}

.interest-details div:first-of-type {
	font-size: 20px;
	font-weight: 500;
}

.interest-details div:last-of-type {
	font-size: 17px;
	color: grey;
}

.interest-details button {
	font-size: 15px;
	font-weight: 500;
	color: white;
	border: none;
	background-color: #2874f0;
	padding: 5px 12px;
	border-radius: 2px;
	margin-top: 12px;
}

.similar-products-section {
	border-top: 0.1rem solid #dddddd;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}

.similar-products-heading {
	font-size: 18px;
	padding: 20px 32px 0;
	font-weight: 600;
}

.similar-products {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 20px 20px;
}

.similar-product {
	width: 15%;
}

.similar-product-image {
	width: 100%;
	padding: 20px;
	cursor: pointer;
}

.similar-product-image:hover + .similar-product-name {
	color: #2874f0;
}

.similar-product-image img {
	width: 100%;
}

.similar-product-name {
	font-size: 14px;
	cursor: pointer;
}

.similar-product-name:hover {
	color: #2874f0;
}


.similar-product-rating {
	display: flex;
	font-size: 12px;
	gap: 5px;
}

.similar-product-rating > img {
	width: 70px;
}

.similar-product-rating div:last-of-type {
	color: grey;
	font-weight: 500;
}

.similar-product-price .sale-price {
	font-size: 16px;
}

.similar-product-price .discount-percent {
	font-size: 13px;
}

.heart-btn {
	color: #cfcfcf;
	border: none;
	float: right;
	background-color: transparent;
}

/* Bought together section start */
.bought-together-products-section {
	border-top: 0.1rem solid #dddddd;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}

.bought-together-products-heading {
	font-size: 18px;
	padding: 20px 32px 0;
	font-weight: 600;
}

.bought-together-products-categories {
	display: flex;
	font-size: 14px;
	gap: 25px;
	padding-top: 16px;
	padding-left: 32px;
	border-bottom: 1px solid #dfdfdf;
}

.bought-together-products-category.selected {
	color: #2874f0;
	font-weight: 500;
	padding-bottom: 4px;
	border-bottom: 3px solid #2874f0;
}

.bought-together-products {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 20px 20px;
}

.bought-together-product {
	width: 15%;
}

.bought-together-product-image {
	width: 100%;
	padding: 20px;
	cursor: pointer;
}

.bought-together-product-image:hover + .bought-together-product-name {
	color: #2874f0;
}

.bought-together-product-image img {
	width: 100%;
}

.bought-together-product-name {
	font-size: 14px;
	cursor: pointer;
}

.bought-together-product-name:hover {
	color: #2874f0;
}

.bought-together-product-rating {
	display: flex;
	font-size: 12px;
	gap: 5px;
}

.bought-together-product-rating > img {
	width: 70px;
}

.bought-together-product-rating div:last-of-type {
	color: grey;
	font-weight: 500;
}

.bought-together-product-price .sale-price {
	font-size: 16px;
}

.bought-together-product-price .discount-percent {
	font-size: 13px;
}

/* Bought together section end */

/* Recently viewed items section start */
.recent-products-section {
	border-top: 0.1rem solid #dddddd;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}

.recent-products-heading {
	font-size: 18px;
	padding: 0 32px 0;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.recent-products-heading button {
	font-size: 15px;
	font-weight: 500;
	color: white;
	border: none;
	background-color: #2874f0;
	padding: 8px 18px;
	border-radius: 2px;
	margin-top: 12px;
}

.recent-products {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 20px 20px;
}

.recent-product {
	width: 15%;
}

.recent-product-image {
	width: 100%;
	padding: 20px;
	cursor: pointer;
}

.recent-product-image:hover + .recent-product-name {
	color: #2874f0;
}

.recent-product-image img {
	width: 100%;
}

.recent-product-name {
	font-size: 14px;
	cursor: pointer;
}

.recent-product-name:hover {
	color: #2874f0;
}

.recent-product-rating {
	display: flex;
	font-size: 12px;
	gap: 5px;
}

.recent-product-rating > img {
	width: 70px;
}

.recent-product-rating div:last-of-type {
	color: grey;
	font-weight: 500;
}

.recent-product-price .sale-price {
	font-size: 16px;
}

.recent-product-price .discount-percent {
	font-size: 13px;
}

/* Recently viewed items section end */

footer {
	margin-top: 25px;
	color: #fff;
	background-color: #172337;
	border-top: 1px solid #d9d9d9;
}

.footer-top {
	color: grey;
	background-color: #fff;
	font-size: 14px;
	padding: 25px;
}

.top-stories {
	font-size: 12px;
	color: grey;
	padding: 14px 0;
	margin-top: 14px;
	font-weight: 500;
}

.top-stories a {
	color: #545454;
	font-weight: 500;
}

.footer-top-links {
	text-transform: uppercase;
}

.footer-top-links span {
	font-size: 11px;
}

.footer-top-links a {
	color: inherit;
	font-size: 10px;
	padding-right: 5px;
}

.footer-top-links a:not(:last-of-type) {
	border-right: 1px solid #212121;
}

.footer-middle {
	margin-left: 65px;
	padding-top: 40px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-evenly;
}

.footer-middle div:nth-of-type(5) {
	padding-left: 25px;
	border-left: 0.1rem solid #454d5e;;
}

.footer-middle-item {
	font-size: 12px;
	display: flex;
	flex-direction: column;
}

.footer-middle-item a {
	margin-bottom: 5px;
	color: #fff;
}

.footer-middle-item a:hover {
	text-decoration: underline;
}

.footer-middle-item p {
	margin-bottom: 0;
}

.footer-middle-item .footer-item-title:nth-of-type(2) {
	margin-top: 13px;
}

.footer-item-title {
	color: #878787;
	margin-bottom: 8px;
}

.footer-social-media-icons {
	display: flex;
	gap: 16px;
}

.tel-links a {
	color: rgb(40, 116, 240);
}

.footer-bottom {
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: 0.1rem solid #454d5e;
	height: 73px;
	white-space: nowrap;
}

.footer-bottom-item {
	display: flex;
	align-items: center;
	gap: 8px;
}

.footer-bottom-item a {
	color: #fff;
}

.text-green {
	color: #388e3c;
}

.line-through {
	color: rgb(113, 116, 120);
	text-decoration: line-through;
}

@media (max-width: 528px) {

	body, button, input, select, textarea {
		font-family: Roboto, Helvetica, Arial, sans-serif;
	}

	html, body, nav {
		min-width: 0;
	}

	nav {
		padding: 10px;
		background-color: #fff;
	}

	.nav-desktop {
		display: none;
	}

	.nav-mobile {
		display: flex;
		align-items: center;
	}

	.nav-mobile-left {
		display: flex;
		font-size: 20px;
		gap: 10px;
	}

	.nav-mobile-left img {
		width: 22px;
	}

	.nav-mobile-right {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.nav-mobile-right a {
		color: black;
	}

	.nav-mobile-right div {
		padding: 10px;
		font-size: 14px;
		font-weight: 500;
	}

	.category-selector, .content, footer {
		display: none;
	}

	.content-mobile {
		display: flex;
		flex-direction: column;
		margin-bottom: 47px;
	}

	.content-mobile > div {
		background-color: #fff;
	}

	.popularity-image-section img {
		width: 28px;
	}

	.popularity-text {
		font-size: 13px;
	}

	.select-variant {
		margin: 10px 0;
	}

	.select-variant > div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
		padding: 12px 18px 12px 16px;
	}

	.select-variant > div:not(:last-of-type) {
		border-bottom: 1px solid var(--border-color);
	}

	.select-variant span {
		color: grey;
	}

	.product-name-section {
		padding: 0 16px 24px;
	}

	.view-more-from-brand {
		font-size: 14px;
		font-weight: 600;
	}

	.brand-name {
		font-size: 14px;
		font-weight: bold;
	}

	.product-name {
		font-size: 14px;
	}

	.hashtag {
		color: #544f4f;
		font-weight: 600;
	}

	.rating-line {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.rating-count {
		color: blue;
	}

	.flipkart-assured-logo {
		width: 60px;
	}

	.price-details {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	.price-details span {
		font-size: 20px;
		font-weight: 600;
	}

	.free-delivery {
		font-size: 12px;
		font-weight: 600;
	}

	.deliverto-section {
		margin-top: 10px;
	}

	.pincode {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		font-size: 14px;
	}

	.pincode button {
		color: rgb(42, 85, 229);
		font-size: 13px;
		padding: 5px 9px;
		background-color: transparent;
		border: 1px solid #dfdfdf;
		border-radius: 4px;
	}

	.delivery-details {
		padding: 16px;
		font-size: 14px;
		display: flex;
		justify-content: space-between;
		border-top: 1px solid var(--border-color);
	}

	.truck-icon {
		font-size: 16px;
	}

	.deliveryby {
		font-weight: 600;
	}

	.chevron-right-icon {
		font-size: 10px;
	}

	.offers-section {
		margin-top: 10px;
		padding: 10px 0;
	}

	.offer-main, .offer-all {
		padding: 0 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.offer-main > div {
		display: flex;
	}

	.offer-main i {
		font-size: 10px;
	}

	.wow-deal-section {
		padding-right: 12px;
	}

	.wow-deal {
		width: 50px;
	}

	.get-at {
		font-size: 17px;
	}

	.with-bank-offer {
		font-size: 12px;
	}

	.offer-all {
		font-size: 14px;
		border-top: 1px solid var(--border-color);
		padding-top: 10px;
	}

	.exchange-section {
		margin-top: 10px;
		padding: 16px 0;
		font-size: 14px;
	}

	.exchange-section img {
		width: 48px;
	}

	.exchange-section > div {
		margin: 0 12px 8px 12px;
		border: 1px solid var(--border-color);
		border-radius: 2px;
	}

	.exchange-section > div > div {
		display: flex;
		align-items: center;
	}

	.exchange-section > div > div:last-of-type {
		background-color: rgb(245, 247, 250);
		justify-content: space-between;
		align-items: center;
		padding: 5px 10px;
	}

	.exchange-section button {
		font-size: 13px;
		color: #fff;
		background-color: rgb(40, 116, 240);
		padding: 5px 10px;
		border: none;
		border-radius: 2px;
	}

	.exchange-section i {
		font-size: 11px;
	}

	.exchange-details div:last-of-type {
		font-size: 12px;
	}

	.similar-products {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		padding-top: 15px;
	}

	.similar-products-heading {
		width: 100%;
		display: flex;
		padding: 0;
		justify-content: space-between;
		font-size: 17px;
		font-weight: 500;
	}

	.similar-products-content {
		display: flex;
		overflow-x: scroll;
		width: 100%;
		padding: 20px 0;
		gap: 10px;
	}

	.similar-product {
		width: 300px;
		border: 1px solid var(--border-color);
		padding: 15px 0;
	}

	.similar-product-image-section img {
		width: 140px;
	}

	.similar-product-details-section {
		display: flex;
		flex-direction: column;
		font-size: 12px;
		padding: 20px 10px 0;
	}

	.extra-features-section {
		font-size: 12px;
		display: flex;
		margin-top: 10px;
		padding-top: 15px;
	}

	.extra-feature {
		width: 33%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.replacement-logo, .no-cod-logo {
		width: 22px;
	}

	.product-buttons {
		background-color: #fff;
	}

	.fixed-btn {
		width: 50%;
		padding: 13px;
		border: none;
		font-size: 14px;
	}

	.add-to-cart-btn {
		background-color: #fff;
	}

	.buy-now-btn {
		background-color: rgb(255, 194, 0);
	}

	.text-green {
		color: rgb(0, 140, 0);
	}
}
